.dark-background{
    background-color:#0000;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.bulb-img{
    width:160px;
}
.cat-img{
    width:300px;
}
