.dark-background {
    background-color: #0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bulb-img {
    width: 160px;
}

.cat-img {
    width: 300px;
}

.card-container {
    border: 2px solid #7b8794;
    width: 220px;
    height: 100px;
}